$font-xl: 48px;
$font-l: 28px;
$font-m: 19px;
$font-s: 14px;
$spacing-l: 30px;
$spacing-m: 16px;
$spacing-s: 8px;

%button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -0.022em;
  min-width: 28px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 7px;
  padding-bottom: 8px;
  border-radius: 18px;
  background: var(--color-primary);
  color: #fff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.george {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  color: var(--color-surface);
  line-height: 1.5;
  padding-top: 60px;
  position: relative;

  @media screen and (max-width: 500px) {
    flex-direction: column;
  }

  &__theme {
    position: absolute;
    font-size: $font-m;
    color: var(--color-primary);
    font-weight: bold;
    cursor: pointer;
    right: 50px;

    @media screen and (max-width: 500px) {
      right: 15px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__info {
    text-align: center;
    padding: 75px 0;
  }

  &__name,
  &__job,
  &__copy {
    padding-bottom: $spacing-l;
  }

  &__name {
    font-size: $font-xl;
    font-weight: bold;
  }

  &__job {
    font-size: $font-l;
    font-weight: bold;
  }

  &__copy {
    font-size: $font-m;
  }

  &__contact {
    @extend %button;
  }

  &__links {
    padding-top: $spacing-l;
    display: flex;
    justify-content: center;

    li {
      display: flex;
      color: var(--color-primary);
      margin: 0 10px;

      &::after {
        display: block;
        padding-left: 3px;
      }
    }
  }

  &__link {
    display: flex;
    text-decoration: none;
    position: relative;
    padding-right: 4px;
    &:hover {
      text-decoration: underline;
    }
  }

  &__iphoneImage {
    width: 100%;
  }

  &__jobLink {
    color: var(--color-surface);
  }
}

.project {
  background-color: var(--color-secondary);
  padding: $spacing-l;
  margin: $spacing-l;

  &___header {
    padding-bottom: $spacing-m;
    color: var(--color-primary);
  }

  &__quench-logo {
    margin-right: $spacing-m;
    @media screen and (max-width: 500px) {
      margin-right: $spacing-m;
    }
  }

  &__button {
    font-weight: 520;
    text-transform: uppercase;
    @extend %button;
  }

  &__title,
  &__desc {
    font-size: $font-m;
    padding-bottom: $spacing-m;
    line-height: 1;
  }

  &__title {
    font-weight: bold;
  }

  &__content {
    display: flex;
    @media screen and (max-width: 500px) {
      display: block;
    }
  }
}

ul {
  margin: 0;
  list-style: none;
  padding-left: 0px;
}

.col-50 {
  width: 50%;
  @media screen and (max-width: 500px) {
    width: 100%;
  }
}

a {
  color: var(--color-primary);
}

h1,
h2,
h3,
p {
  margin: 0px;
}

p {
  line-height: 1.5;
}

.right-arrow {
  position: relative;
  width: 11.5px;
  svg {
    position: absolute;
    right: 0;
    bottom: 4.5px;
    height: 11px;
    width: 11px;
  }
}

// padding is in between. within the element. Put it in there
// margin is whatever its outside=
