@import url("https://use.typekit.net/znl2grw.css");

body {
  margin: 0;
  font-family: -apple-system, "neue-haas-unica", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-solid);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --color-primary: #0071e3; /* CTA = Call To Action */
  --color-solid: #000000;
  --color-surface: #ffffff;
  --color-secondary: #1e1e1e;
}

/* $dark-gray: #1e1e1e; */
